/* 
  Desktops
  1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
  
  .search-container{
    /*sacar para mode 1 */
    padding:110px 0;
  }
}

/* 
 Laptops, Desktops
 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
  .search-container{
    /*sacar para mode 1 */
    padding:110px 0;
  }
}

/* 
  Tablets, Ipads (portrait)
  768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {      
  .search-container{
    padding:70px 0;
  }
  .search-container h1 {
    font-size: 20px;
    line-height:10px
  }
  .search-container h2 {
    font-size: 15px;
    line-height:20px;
  }
}

/* 
  Tablets, Ipads
  768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  
  .search-container{
    padding:70px 0;
  }
  .search-container h1 {
    font-size: 20px;
    line-height:10px
  }
  .search-container h2 {
    font-size: 15px;
    line-height:20px;
  }
}

/* 
  Low Resolution Tablets, Mobiles (Landscape)
  481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
 
  .logo img {
    max-width: 85%;
    margin-left: 10px;
  }  
  .section-intro {
    background: url(../img/bg/bg-intro_3.jpg) center center no-repeat;
    background-size: cover;
    position: relative;
    max-width: 500px;
    height: 250px;
  }
  .search-container{
    padding:40px 0;
  }
  .search-container h1 {
    font-size: 20px;
    line-height:10px
  }
  .search-container h2 {
    font-size: 15px;
    line-height:20px;
  }
  #social-shared,#logo-card{
    display: none;
  }
  
}

/* 
  Most of the Smartphones Mobiles
  320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  
  .logo img {
    max-width: 85%;
    margin-left: 10px;
  }  
  .section-intro {
    background: url(../img/bg/bg-intro_3.jpg) center center no-repeat;
    background-size: cover;
    position: relative;
    max-width: 500px;
    height: 250px;
  }
  .search-container{
    padding:40px 0;
  }
  .search-container h1 {
    font-size: 20px;
    line-height:10px
  }
  .search-container h2 {
    font-size: 15px;
    line-height:20px;
  }
  #social-shared,#logo-card{
    display: none;
  } 
  
}